* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flexbox;
    background: hsl(100, 100%, 90%);
    font-family: "Gothic A1", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    /* Base font size for rem calculations */
}

nav {
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 40vh;
    margin-top: -33vh;
    gap: 25vw;
    position: fixed;
    z-index: 1;
    height: 4vw;
    padding-top: 1.75vh;
    width: 100vw;
}

header {
    padding: 20px 0;
    margin-left: 30vh;
    margin-top: 30vh;
    margin-bottom: 53vh;
    text-decoration: none;
    list-style-type: none;
}

.header-main-title {
    font-size: 7rem;
    font-family: "Gothic A1", sans-serif;
    font-weight: 900;
    margin-left: -10vw;
    width: 60vw;
    margin-top: -10vh;
}

.header-subtitle {
    margin-bottom: 3vw;
    font-size: 3.5vh;
    margin-left: -10vw;

}

.header-image {
    width: 33.33vw;
    height: 100vh;
    margin-left: 100vh;
    margin-top: -32.7vh;
    margin-bottom: -27.5vw;
}

.contact-button {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    font-size: 0.9rem;
    border-radius: 1vh;
    text-decoration: none;
    list-style-type: none;
    height: 3.5vw;
    width: 10.4vw;
    padding-left: 2.3vw;
    padding-right: 2vh;
    margin-bottom: -3.4vw;
    padding-bottom: -1vw;
    padding-top: 1.2vw;
}

.projects-button {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    font-size: 0.9rem;
    border-radius: 1vh;
    text-decoration: none;
    list-style-type: none;
    height: 3.5vw;
    width: 12vw;
    padding-left: 2.3vw;
    padding-right: 1.6vh;
    margin-bottom: -3.4vw;
    padding-bottom: -1vw;
    padding-top: 1.2vw;
    margin-top: -1vw;
    margin-left: 25vh;
}

.about-section-title {
    font-family: "Gothic A1", sans-serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 4vh;
    border: rgb(120, 120, 120) 2px solid;
    border-radius: 2.5vh;
    width: 5vw;
    padding-left: 2vh;
    padding-right: 4.6vw;
    margin-left: 40vw;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
}

.about-main-info {
    font-family: "Gothic A1", sans-serif;
    font-weight: 900;
    margin-left: 15vw;
}

.about-short-description {
    margin-left: 27vh;
    margin-bottom: 10vh;
}

.about-background {
    border-radius: 1vh;
    border: 3px solid hsl(0, 0%, 33%);
    width: 76vh;
    height: 27vh;
    margin-left: 5vh;
    margin-bottom: 10vh;
    padding-left: 1vh;
    padding-top: 2.5vh;
}

.about-background-title {
    font-size: 2rem;
    margin-bottom: 2.5vh;
    font-weight: 900;
}

.about-background-paragraph {

    width: 60vh;
    padding-left: 2vh;
    height: 20vh;
    margin-left: 1vh;
    margin-bottom: -10vh;
    margin-top: -4.25vh;
    padding-left: 1vh;
    padding-top: 2.5vh;
}

.about-skillstack {
    border-radius: 1vh;
    border: 2px solid hsl(0, 0%, 33%);
    width: 50vh;
    height: 20vh;
    margin-left: 90vh;
    margin-bottom: 10vh;
    margin-top: -37vh;
    padding-left: 1vh;
    padding-top: 2.5vh;
    display: flexbox;

}

.skillstack-title {
    font-size: 1.25rem;
    margin-bottom: 2.5vh;
    font-weight: 900;
}

.skillstack {
    gap: 1vh;
}

.skill-python {
    border-radius: 1vh;
    border: 2px solid hsl(0, 0%, 33%);
    width: 5.8rem;
    height: 2vw;
    padding-left: 12px;
    padding-top: 2px;
    margin-bottom: 5px;
    margin-top: -5px;
}

.skill-javascript {
    border-radius: 1vh;
    border: 2px solid hsl(0, 0%, 33%);
    width: 8.15vw;
    padding-left: 12px;
    padding-top: 2px;
    margin-bottom: 5px;

}

.skill-html {
    border-radius: 1vh;
    border: 2px solid hsl(0, 0%, 33%);
    width: 4.7rem;
    padding-left: 12px;
    padding-top: 2px;
    padding-right: 2px;
    margin-left: 7rem;
    margin-top: -4.35rem;
    margin-bottom: 0.3rem;
}

.skill-css {
    border-radius: 1vh;
    border: 2px solid hsl(0, 0%, 33%);
    width: 4vw;
    padding-left: 12px;
    padding-top: 2px;
    margin-left: 9rem;
    margin-bottom: -0.3rem;
}

.skill-blender {
    border-radius: 1vh;
    border: 2px solid hsl(0, 0%, 33%);
    width: 6.5vw;
    padding-left: 12px;
    padding-top: 2px;
    padding-right: 4px;
    margin-left: 13rem;
    margin-top: -4rem;
    margin-bottom: 0.3rem;
}

.skill-ai {
    border-radius: 1vh;
    border: 2px solid hsl(0, 0%, 33%);
    max-width: 7vw;
    padding-left: 12px;
    padding-top: 2px;
    margin-left: 14rem;
    margin-bottom: -0.5rem;
 
}


h1 {
    position: relative;
    font-size: 5rem;
    font-family: "Gothic A1", sans-serif;
    font-weight: 900;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.25rem;
}